* {
    background-color: grey;
    margin: 5px 0px;
    color: rgb(213, 207, 198);
    font-size: 25px;
}

header {
    background-color: rgb(47, 47, 47);
    display: flex;
    justify-content: space-between;
}

.title {
    background-color: inherit;
    margin: 1% 10%;
}

.header-links {
    background-color: inherit;
    margin: 1% 5%;
    display: flex;
}

.links {
    background-color: inherit;
    margin: 0px 0px 0px 20px;
}

.links:hover {
    font-style: italic;
}

.top-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carl-image {
    width: 300px;
    height: 300px;
    margin: 15px 20px;
    
}

.middle-cont {
    display: flex;
}

.left-side {
    width: 50%;
    padding-left: 5%;
    padding-right: 3%;
}

.right-side {
    width: 50%;
    padding-right: 5%;
    padding-left: 3%;
}

.header-right {
    font-size: 27px;
}

.header-left {
    font-size: 27px;
}

.left-side-text {
    font-size: 22px;
}

.header2-right {
    font-size: 25px;
}

.right-side-text {
    font-size: 22px;
}

.history-of-chlorine-img {
    width: 100%;
    height: auto;
}

.properties-img {
    width: 100%;
    height: auto;
    margin-top: 15%;
}

.under-prop-img {
    width: 100%;
    height: auto;
    margin-top: 15%;
}