* {
    background-color: grey;
    margin: 5px 0px;
    color: rgb(213, 207, 198);
    font-size: 25px;
}

header {
    background-color: rgb(47, 47, 47);
    display: flex;
    justify-content: space-between;
}

.title {
    background-color: inherit;
    margin: 1% 10%;
}

.header-links {
    background-color: inherit;
    margin: 1% 5%;
    display: flex;
}

.links {
    background-color: inherit;
    margin: 0px 0px 0px 20px;
}

.links:hover {
    font-style: italic;
}

.sources-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 3%;
}

.sources-text {
    font-size: 16px;
}