* {
    background-color: grey;
    margin: 5px 0px;
    color: rgb(213, 207, 198);
    font-size: 25px;
}

header {
    background-color: rgb(47, 47, 47);
    display: flex;
    justify-content: space-between;
}

.title {
    background-color: inherit;
    margin: 1% 10%;
}

.header-links {
    background-color: inherit;
    margin: 1% 5%;
    display: flex;
}

.links {
    background-color: inherit;
    margin: 0px 0px 0px 20px;
    font-style: italic;
}

.top-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cl-image {
    width: 300px;
    height: 300px;
    margin: 15px 20px;
    
}

.text-right-of-img {
    font-size: 15px;
    color: rgb(213, 207, 198);
    margin: 25px 10px;
}

.text-in-right {
    margin: 10px;
}